@import url(http://fonts.googleapis.com/css?family=Merienda:400,700); /*--- Nav Font --*/
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700); /*--- Body Font --*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two); /*--- Heading Font --*/



/*--- Start Navigation Style --*/
nav {
    box-shadow: 3px 4px 24px 0 rgba(0, 0, 0, 0.07);
	margin-top: 2px;
	background: lightgreen;
font-family: 'Merienda', cursive;
}
.nav ul {
	width: 100%;
	overflow:hidden;
	list-style:none;
}
.nav-button:hover {
	cursor:pointer;
}
.navigation {
	clear: both;
	width: 100%;
	position: relative;
}
.nav a {
	color:#5E412F;
	text-transform: uppercase;
	text-decoration:none;
}
body .nav .nav-menu li a {
	display:inline-block;
	padding:15px 20px;
	color: black;
	font-size: 18px;
	font-weight: 700;
}
.nav.yoga .nav-menu li.active a {
	color: black;
	text-decoration: underline;
}
.nav.yoga .nav-menu li a:hover {
	color: #5E412F;
	text-decoration: underline;
}
.nav.yoga .nav-toggled {
	/*width:100%;*/
	min-height:36px;
	border-radius:6px;
}
.nav.yoga .nav-toggled-controls {
	display:block;
	height:36px;
	color: #5E412F;
	text-align:left;
	position:relative;
}
.nav.yoga .nav-toggled-title {
	position:relative;
	top:9px;
	left:15px;
	font-size:16px;
}
.nav.yoga .nav-button {
	display:block;
	position:absolute;
	right:15px;
	top:8px;
}
.nav.yoga .nav-button span {
	display:block;
	margin-top:4px;
	height:2px;
	background: #5E412F;
	width:24px;
}
.nav-toggled-controls{
	border-bottom: 0px solid #5E412F;
}
.nav.yoga .nav-toggled ul li a {
	display:block;
	width:100%;
	background-color:#FCEBB6;
	text-align:left;
	padding:10px 0px 10px 15px;
	border-bottom:1px solid #444444;
	text-align: center;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav.yoga .nav-toggled ul li a:active {
	background-color:#FCEBB6;
	color: #5E412F;
	border-top:1px solid #5E412F;
}
.nav.yoga .nav-toggled ul li a:hover {
	background: #FCEBB6;
	text-decoration: none;
	color: #5E412F;
	border-bottom: 1px solid #F07818;
}
.nav.yoga .nav-toggled ul li {
	position: relative;
}
.toggle-sm:after {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 18px;
	line-height: 25px;
}
.nav .nav-menu {
	text-align: center;
	overflow: visible;
	min-height: 56px;
}
.nav .nav-menu li {
	display:inline-block;
	padding:0px;
	margin:0px !important;
	position: relative;
}
.nav-button:hover {
	cursor:pointer;
}
.nav .nav-toggled ul {
	display:none;
	margin:0px ;
	padding:0px ;
}
.nav ul {
	overflow: visible;
}
body .nav .nav-menu li a {
	padding: 15px 30px;
}
/*--- End Navigation Style --*/
